{% extends 'base.html' %}
{% block title %}update{% endblock title %}
{% block content %}
<div class="container mt-5">
    <form class="col-6 card mx-auto shadow-lg p-3" method="post" enctype="multipart/form-data">
        <h2>Update dish</h2>
        <hr>
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Dish name</label>
            <input type="text" name="dish_name" class="form-control" value="{{dish.dish_name}}" required/>
        </div>
        <div class="mb-3">
            <label class="form-label">Dish Description</label>
            <textarea name="dish_description" class="form-control" value="{{dish.dish_description}}"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Dish image</label>
            <input type="file" name="dish_image" class="form-control" value="{{dish.dish_image}}" />
        </div>
        <button class="btn btn-success">Update Dish</button>
    </form>
</div>
{% endblock content %}